body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #87CEEB; /* Color celeste de fondo */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Fondo blanco del formulario */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 10px); /* Ancho del 100% con espacio para el borde */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos adicionales para el resultado de la predicción */
div {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2; /* Fondo gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
